header{
    text-align: center;
    font-family: Andale Mono, monospace;
    color: cornsilk;
    background-color: black;
    padding: 10px;

}
.index-link{
    text-decoration: none; 
    color: inherit; 
}
.line { 
    width: 100%; 
    height: 1px; 
    background-color:white;

}
.logreg{
    text-align: center;

}
.reglog{
    margin-bottom: 30px;
}

  input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
.button {
    position: absolute;
    left: 950px;
    top: 30px;
    font-family: Andale Mono, monospace	;
    background-color: rgb(59, 111, 132);
    color: white;
  border-width: 1px;
  border-color: white;

}
.intro{
    font-family: Andale Mono, monospace;		
}
.main{
    padding-left: 10px;
}


.log{
    position: absolute;
    left: 1110px;
    top: 30px;
}
.logout{
    color: white;
    position: absolute;
    left: 1120px;
    top: 30px;

}
.logout:hover {
text-decoration: underline;
}
input[type="submit"] {
    background-color: green;
    font-family: Andale Mono, monospace;
    color: white;
    border-width: 1px;
    border-color: white;
    border-radius: 5px;
    padding: 15px 30x; 
    font-size: 16.5px;
    
}
input[type="submit"]:hover {
    background-color: orange;

}
button[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 
}
button[type="submit"]:hover {
    background-color: #555;

}

body{
   background-image: url("windows-background-theme.jpg");
   background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
  
}

.param { 
    text-align: center;
}

.sp{
    text-align: center;
    position: relative;
    top: 20px;

}
.container {
    position: relative; 
    width: 100%; 
    height: 100vh; 
  }
.box{

    width: 300px; 
    height: 200px; 
    background-color:rgba(255, 255, 255, 0.2);
    padding: 20px;
    border: 3px solid white;
    color: white;
    border-radius: 15px;
    position: absolute; 
  top: 21%; 
  left: 50%; 
  transform: translate(-50%, -50%); 

    
}
.pwbox{
    margin: 0; 
    padding: 0;
    text-align: center;
}
.twobuttons{
    text-align: center;
    position: absolute;
    top: 43%; 
    left: 50%;
    transform: translateX(-50%);

}
.save-passwords, .save-all {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
  }

  .save-passwords{
    background-color: #008CBA;
    color: white;
  }

  .save-all{
    background-color: #4CAF50; 
    color: white;
  }

  .save-passwords:hover {
    background-color: #555;

  }

  .save-all:hover{
    background-color: #555;

  }
.right-side{
  text-align: right;
}

